@import "../../index.css";

.address-body {
  @apply flex-1 max-h-full overflow-y-auto flex flex-col gap-6;
}

.address-create {
  @apply flex-1 flex justify-center overflow-y-auto px-5;
}

.address-view {
  @apply flex-1 flex justify-center overflow-y-auto px-5;
}

.address-content__dialog__trigger {
  @apply mx-2 text-xs h-full opacity-50 underline hover:opacity-90 focus:ring-0;
}

.address-content__dialog__content {
  @apply sm:max-w-[600px];
}

.address-content__dialog__warning {
  @apply text-destructive text-sm;
}

.address-content__dialog__textarea {
  @apply h-70;
}

.address-content__body {
  @apply flex flex-col justify-between w-full max-w-240 text-left;
}

.address-content__body__unbound {
  @apply flex flex-col justify-between w-full text-left px-4 sm:px-12;
}

.address-content__form__group {
  @apply gap-4;
}

.address-content__form__field {
  @apply gap-2;
}

.address-content__form__tags {
  @apply w-full flex flex-wrap gap-1;
}

.address-content__form__textarea {
  @apply resize-none h-30;
}

.address-content__form__separator {
  @apply my-0.5;
}

.address-content__form__submit {
  @apply mx-auto w-full mb-6;
}
