@import "../../index.css";

.address-component__prompt {
  @apply border rounded-lg p-2 focus-within:shadow-md transition-shadow duration-200;
}

.address-component__prompt__actions {
  @apply flex justify-between items-center;
}

.address-component__prompt__action__sub {
  @apply flex gap-1.5;
}

.address-component__prompt__textarea {
  @apply shadow-none max-h-60 h-30 border-none resize-none focus-visible:ring-0 dark:bg-transparent;
}

.address-component__prompt__trigger {
  @apply text-primary/70 px-2 text-left;
}

.address-component__edit__button {
  @apply text-xs h-full px-2 opacity-50 hover:opacity-90 focus:ring-0 mx-1;
}

.address-component__popover__body {
  @apply p-2 flex flex-col items-baseline;
}

.address-component__popover__body__button {
  @apply w-full flex justify-between gap-4;
}

.address-component__popover__body__button__sm {
  @apply w-full flex justify-between gap-4 text-xs;
}

.address-component__popover__header {
  @apply px-2 border-b w-full pb-2;
}

.address-component__popover__header__title {
  @apply text-sm font-bold;
}

.address-component__popover__header__description {
  @apply text-xs opacity-60 pt-1;
}

.address-component__card {
  @apply gap-3 p-2.5 h-full;
}

.address-component__card__header {
  @apply px-1;
}

.address-component__card__title {
  @apply w-full flex justify-between gap-2 items-center;
}

.address-component__card__description {
  @apply text-xs text-primary/50;
}

.address-component__card__content {
  @apply flex flex-col gap-3 px-1;
}

.address-component__card__content__lines {
  @apply text-sm text-primary/60;
}

.address-component__card__content__tags {
  @apply w-full flex flex-wrap gap-1;
}

.address-component__carousel {
  @apply w-full mx-auto my-2;
}

.address-component__tag {
  @apply flex gap-2 items-center h-5 bg-primary/80;
}

.address-layout__grid {
  @apply grid grid-cols-1 gap-5 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 overflow-y-auto px-2 sm:px-4 md:px-8;
}
