@import "../../index.css";

.header {
  @apply w-full flex items-center justify-between py-1.5 px-5;
}

.header-configs {
  @apply flex gap-3 h-full;
}

.header-sidebar__trigger {
  @apply z-10;
}

.header-selector {
  @apply flex items-center justify-center gap-2;
}

.header-selector__trigger {
  @apply focus-visible:ring-0 w-17 h-6.5 text-sm bg-background;
}
