@import "../../index.css";

.sidebar {
  @apply border-none;
}

.sidebar-menu__button {
  @apply hover:cursor-pointer z-20;
}

.sidebar-group__label {
  @apply min-w-40 overflow-hidden text-xs;
}

.sidebar-collapsible__chevron {
  @apply ml-auto transition-transform group-data-[state=open]/collapsible:rotate-90;
}

.sidebar-menu__button__active {
  @apply font-semibold underline transition-all duration-100;
}

.sidebar-menu__button__text {
  @apply min-w-40;
}
