@import "../index.css";

.applayout-main {
  @apply relative flex flex-col w-full h-svh;
}

.applayout-body__outer {
  @apply flex-1 flex w-full text-center max-h-full overflow-y-auto p-3 pt-0;
}

.applayout-body__inner {
  @apply w-full flex-1 overflow-y-auto bg-background rounded-2xl shadow-md;
}
